@font-face {
  font-family: "HouseSlant-Regular";
  src: font-url("HouseSlant-Regular.woff2") format('woff2'),
       font-url("HouseSlant-Regular.woff") format('woff');
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #fff;
  padding-top: 60px;
}

h1 {
  color: #f63939;
  font-family: "HouseSlant-Regular";
  font-size: 12rem;
}

.mind-blown {
  height: auto;
  max-width: 157px;
}
